.adv {
    min-height: 35em;
    position: relative;
    padding-top: 5em;
    background-color: whitesmoke;
    /* background-color: aqua; */
    color: #333333;
    border-radius: 0%;
}
.adv>h1{
    font-size: 2em;
}

.underline {
    width: 25%;
    margin: auto;
    margin-top: 1em;
    height: 10px;
    border-radius: 20px;
    background-color: aqua;
}

.adv_crsl {
    display: flex;
    position: relative;
    margin: auto;
    width: 69.8%;
    gap: 10px;
    /* margin-left: 9em; */
    overflow-x: scroll;
    margin-top: 1em;
    border-radius: 20px;
    justify-content: start;
    /* background-color: aqua; */
    height: 15em;
    margin-bottom: 2em;
}

.advCrsl_btn {
    /* background-color: brown; */
    width: 10%;
    margin: auto;
    gap: 15px;
    display: flex;
    justify-content: center;
}

.advCrsl_btn>button {
    background-color: silver;
    color: black;
}

.adv_crsl>div>a>img {
    width: 350px;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-button {
    display: block;
}

.adv>h2 {
    margin-block: 1em;

}

@media screen and (max-width:576px) {
    .adv {
        width: 100%;
        /* display: flex; */
        height: 35em;
        padding-top: 2em;
    }

    .underline {
        width: 50%;
    }

    .adv>h3 {
        margin-block: 1em;
    }

    .adv_crsl {
        width: 95vw;
        display: flex;
        height: 15em;
        margin: auto;
        /* background-color: aqua; */
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
        gap: 1em;
    }
      .adv_crsl>div{
        width:15em;
        height: 96%;
    }  
    /* .adv_crsl>div>a{
        width:30em;
        height: 100%;
    } */
    .adv_crsl>div>a>img{
        width:12em;
        height: 80%;
    }
    .advCrsl_btn {
        margin-top: 2em;
    }
}

@media (min-width:577px) and (max-width:768px) {
    .adv {
        width: 100vw;
        padding-top: 2em;
        height: 85vh;
    }

    .adv>h1 {
        width: 90%;
        margin: auto;
        font-size: xx-large;
        font-weight: 600;
    }

    .underline {
        width: 50%;
        margin-top: 1em;
    }

    .adv>h2 {
        margin-bottom: 1em;
        margin-top: 1em;
        font-weight: 600;
    }

    .adv_crsl {
        width: 75vw;
        margin: auto;
        gap: 8px;
    }

    .adv_crsl>div>a>img {
        width: 280px;
        overflow-x: scroll;
    }
}

.internships {
    position: relative;
    background-color: white;
    padding-top: 2em;
    height: 40em;
    border-radius: 0%;

}

.btndiv>button {
    background: none;
    border-radius: 20px;
    border-color: grey;
    color: grey;
    margin-left: 15px;
    font-size: small;
}

.intern_cat {
    position: relative;
    color: grey;
    font-weight: 400;
    gap: 1em;
    width: 70%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;

}

.intern_details {
    display:flex;
    border-radius: 20px;
     width: 53.5%;
    margin: auto;
    height: 20em;
    overflow-y: hidden;
    gap: 1em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    white-space: nowrap;
    margin-bottom: 2em;  
}

.internships>h1 {
    font-size: 2em;
    font-weight: 650;
    color: rgb(63, 61, 61);
}

@media screen and (max-width:576px) {
    .internships {
        width: 100%;
        /* background-color: aqua; */
        gap: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .internships>h1 {
        font-size: large;
    }

    .btndiv {
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
        white-space: nowrap;
        flex-wrap: wrap;
        overflow-x: scroll;
    }

    .intern_cat {
        font-size: medium;
        display: flex;
        flex-direction: column;
        /* left: -3em; */
        margin: auto 0;
        width: 70vw;
        height: 5em;
        /* background-color: aqua; */
    }

    .intern_details {
        width: 95.5vw;
        display: flex;
        /* gap: 3em; */
        flex-shrink: 1;
        margin-bottom:-2em;
        /* background-color: aqua; */
        
    }
    
}

@media (min-width:577px) and (max-width:768px) {
    .internships>h1 {
        font-size: 2em;
    }

    .internships {
        height: 45em;
    }

    .intern_cat {
        width: 70vw;
        height: 8em;
        margin-top: 1em;
        font-size: medium;
        margin-left: 5em;
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
        justify-content: center;
    }
    .intern_details{
        width: 71%;
    }

    .btndiv {
        height: 10vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow-x: scroll;
        justify-content: start;
        align-items: center;
    }
}

@media (min-width:769px) and (max-width:1200px) {
    .btndiv {
        display: flex;
        align-items: center;
        justify-content: start;
        white-space: nowrap;
    }

    .intern_cat {
        margin-left: 7.5em;
    }
}