.companies {
    padding-top: 3em;
    width: 100%;
    background-color:white;
    height: 17em;
    white-space: nowrap;
    border-radius: 0;
    color: #333;
   
}

.companies>h2 {
    margin-bottom: 1em;
    font-size: 2em;
}

.comp_crsl {
    /* width: 80vw; */
    display: flex;
    /* background-color: blue; */
    /* background-color:lin; */
    margin: auto;
    height: 7em;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    position: relative;
    white-space: nowrap;
}

.comp_crsl>img {
    animation: scro infinite 70s;
    scroll-behavior: linear;

}

@keyframes scro {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}




@media (min-width:310px) and (max-width:576px) {
    .companies{
        display: flex;
        height: 12em;
        width: 100%;
        text-align: start;
        flex-direction: column;
        align-items: start;
        padding: 0%;
    }
    .companies>h2{
        font-size:1.5em;  
        margin-left: .6em;
    }
    .comp_crsl{
        border-radius: 0%;
    }
}

